h1{
	text-align: center;
}
.flag{
	margin: auto;
	margin-bottom: 10px;
	width: 300px;
	height: 200px;
	border: 1px solid grey;
}
.ukraine{
	background: linear-gradient(to bottom, #0000e6 50%, #fafa00 50%);
}
.japan{
	background-color: white;
	display: flex;
}
.circle{ 
	width: 120px; 
	height: 120px; 
	background: red; 
	-moz-border-radius: 100%; 
	-webkit-border-radius: 100%; 
	border-radius: 100%; 
	margin: auto;
}
.island{
	background: linear-gradient(90deg, transparent 28%, #e60000 28%, #e60000 34%, transparent 34%),
    linear-gradient(transparent 42%, white 42%, white 46%, #e60000 46%, #e60000 58%, white 58%, white 62%, transparent 62%),
    linear-gradient(90deg, #0000b3 25%, white 25%, white 28%, #e60000 28%, #e60000 34%, white 34%, white 37%, #0000b3 37%);
}
.czech{
	background: linear-gradient(to bottom, white 50%, #e60000 50%);
}
.triangle{
 	width: 0;
 	height: 0;
 	border-top: 100px solid transparent;
 	border-left: 150px solid #000099;
 	border-bottom: 100px solid transparent; 
}